#main>h1 {
    color: white;
    margin-top: 40px;
    margin-left: 60px;
}

.adminpage_contents {
    width: 90%;
    height: 75%;
    background-color: rgb(224, 224, 224);
    margin-left: 60px;
    vertical-align: top;
    padding-top: 15px;
}

/* ---------- 게시글 테이블 ---------- */
.community_list_wrap {
    padding: 0px 10px 20px 10px;
    margin-top: 30px;
}
/* .community_list>div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
} */
.community_list>div.top {
    border-bottom: 1px solid #999;
}
.community_list>div.top>div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.1rem;
}
.communityscroll>div>div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.1rem;
}
.community_list>div.top>div {
    font-weight: 600;
}
.community_list .num {
    width: 10%;
}
.community_list .name {
    width: 10%;
}
.community_list .id {
    width: 20%;
}
.community_list .title {
    width: 38%;
}
.community_list .reports {
    width: 10%;
}
.community_list .confirm {
    width: 10%;
}
.title>a {
    color: black !important;
    font-size: 1.1rem;
}
.community_list .title:hover {
    font-weight: bold;
}

/* ---------- 버튼 ---------- */
#confirm{
    background-color: #1D267D;
    color: white;
    cursor: pointer;
    border: 0px;
    border-radius: 3px;
    padding: 3px 7px;
}

#confirm:hover{
	background-color: #5C469C;
}

/* ---------- 스크롤 ---------- */
.communityscroll{
	overflow-y: scroll;
	height: 420px;
}

.community_list .top .num {
    width: 10%;
}
.community_list .top .name {
    width: 10%;
}
.community_list .top .id {
    width: 19%;
}
.community_list .top .title {
    width: 38%;
}
.community_list .top .reports {
    width: 10%;
}
.community_list .top .confirm {
    width: 10%;
}