@charset "utf-8";
/* base - 브라우저 별로 다를 수도 있는 것을 초기화 */
* {
  padding: 0;
  margin: 0;
}

/* body설정 */
body {
  text-size-adjust: 100%;
  overflow: hidden;
  zoom: 1;
  background-color: #333;
}


/* 기본틀 */
.community-main {
  position: flex;
  padding: 0 60px;
  width: 75vw;
  height: 80vh;
  min-width:820px;
  min-height:470px;
  margin-top: 25px;
}
h1{
	position:flex;
	width:885px;
	min-height:69px;	
    color: white;
    font-size: 46px;
    padding:30px 0 0 60px;
}

/* 로그인의 메인 */
.community-main form {
  height: 70vh;
  background-color: #ccc;
  padding: 51px;
  box-sizing: border-box;
}

.community-main fieldset {
  border: none;
  /* margin: 0 10% 0 10%; */
}

.community-main input
{
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 0px;
  border: none;
  background-color: white;
  padding: 0 20px;
  box-sizing: border-box;
}
.community-inf {
    position: relative;
    display: flex;
    width: 100%;
    border-radius: 0.3124vw;
    overflow: hidden;
    background-color: #ccc;
    margin-bottom: 16px;
    display: flex;
  align-items: center;
  justify-content: center;
}
.community-title,
.community-writer {
    float: left;
    height: 2.5vw;
    width: 10vw;
    background-size: cover;
    border: 0.015625vw;
    font-size: 18px;;
    text-align: center;
    margin-right: 2vw;
    min-height:32px;
    min-width:110px;
}

.community-text{
    float: left;
    height: 2.5vw;
    width: 10.125vw;
    background-size: cover;
    border: 0.015625vw;
    font-size: 18px;;
    text-align: center;
    margin-right: 2vw;
    min-height:32px;
    min-width:110px;
}
.community-main textarea{
    width: 100%;
    border:  0.015625vw #ccc;
    padding: 20px 0 0 20px;
}
.community-btn{
    display: flex;
    float: right;
    margin-top: 10px;
}

.community-btn #input button{
    display: block;
    width: 8.375vw;
    height: 2.5vw;
    margin: 0 auto;
    /* 블록요소가 부모 영역에서 가운데 오기 */
    border: none;
    background-color: #0C134F;
    border-radius: 0.3vw;
    color: #fff;
    font-size: 17px;
    margin-right: 0.6vw;
    min-width:103px;
    min-height:30px;
}
.comment-btn>input{
   cursor:pointer;
}
#cancel{
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 8.375vw;
    height: 2.5vw;
    margin: 0 auto;
    border: none;
    background-color: #0C134F;
    border-radius: 0.3vw;
    color: #fff;
    font-size: 17px;
    min-width: 103px;
    min-height: 30px;
}
#cancel a{
  font-size:17px;
}
#write-form{
	min-width:820px;
	min-height:369px;
}
@media (max-width: 1250px) {
  #nav {
    display: none;
  }
  #main {
    width: 130vw;
    background-color: #424242;
  }
  .loginbox {
    left: 50%;
  }
  .community-main{
  	margin:0 auto;
  }
  h1{
  	margin:0 auto;
  	text-align:center;
  }
}