@charset "utf-8";
/* base - 브라우저 별로 다를 수도 있는 것을 초기화 */
* {
  padding: 0;
  margin: 0;
}

/* body설정 */
body {
  text-size-adjust: 100%;
  overflow: hidden;
  background-color: #454545;
}

/* 기본틀 */
.loginbox {
  position: absolute;
  top: 50%;
  left: 58.5%;
  transform: translate(-50%, -50%);
  width: 35vw;
  height: 80vh;
  min-width: 388px;
}

.loginbox h2 {
  text-align: center;
  font-size: 50px;
  color: #5c469c;
  font-weight: normal;
  margin-bottom: 40px;
  min-width: 328px;
}

/* 로그인의 메인 */
.loginbox form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #ccc;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10%;
}
.loginbox fieldset legend {
  display: none;
}
.loginbox fieldset {
  border: none;
  height: calc(100% - 60px);
}

.loginbox input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 0px;
  border: none;
  background-color: #ededed;
  padding: 0 20px;
  box-sizing: border-box;
  min-width: 306px;
  min-height: 27.5px;
}

.loginbox .user {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 로그인 버튼 부분 */
.loginbox #login {
  display: block;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  border: none;
  background-color: #5c469c;
  border-radius: 10px;
  color: #fff;
  font-size: 1.875vw;
  cursor: pointer;
  min-width: 328px;
  min-height: 50px;
}

/* 소셜로그인 부분 */
.socialLogin {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.socialLogin img {
  display: inline;
  width: 4.6875vw;
  height: 4.6875vw;
  cursor: pointer;
  min-width: 47.33px;
  min-height: 47.33px;
}

/* 아이디 비밀번호 찾기부분 */
.user {
  gap: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user #find_Id button,
.user #find_Pw button {
  display: block;
  width: 14vw;
  height: 2.5vw;
  border: none;
  background-color: #d4adfc;
  border-radius: 10px;
  color: #fff;
  font-size: 1.125vw;
  cursor: pointer;
  display: inline-block;
  min-width: 162px;
  min-height: 28px;
}

.loginbox #join {
  display: block;
  width: 100%;
  height: 2.5vw;
  margin: 0 auto;
  border: none;
  background-color: #d4adfc;
  border-radius: 10px;
  color: #fff;
  font-size: 1.125vw;
  cursor: pointer;
  min-width: 340px;
  min-height: 28px;
}

.login-inf {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0.3125vw;
  overflow: hidden;
  background-color: #ccc;
  margin-bottom: 15px;
  min-width: 328px;
  min-height: 27px;
}

.login-inf input {
  border: 0.1875vw solid rgb(163, 163, 163);
  width: 90%;
  height: 2.5vw;
  font-size: 1.125vw;
  min-width: 301px;
  min-height: 27px;
}

.login-icon {
  border: 0.1875vw solid rgb(163, 163, 163);
  float: left;
  height: 2.5vw;
  width: 2.5vw;
  min-width: 27.65px;
  min-height: 27.65px;
  background-size: cover;
  border: 0.015625vw;
}
@media (max-width: 1000px) {
  #main {
    width: 130vw;
    background-color: #424242;
  }
  .loginbox {
    left: 65%;
  }
}
@media (max-width: 630px) {
  #nav {
    display: none;
  }
  #main {
    width: 130vw;
    background-color: #424242;
  }
  .loginbox {
    left: 50%;
  }
}
