@charset "utf-8";
/* base - 브라우저 별로 다를 수도 있는 것을 초기화 */
* {
  padding: 0;
  margin: 0;
}

/* body설정 */
body {
  text-size-adjust: 100%;
  overflow: hidden;
  zoom: 1;
  background-color: #333;
}

/* 기본틀 */
.loginbox {
  position: absolute;
  top: 15%;
  left: 40%;
  margin: -100px 0 0 -100px;
  width: 35vw;
  height: 80vh;
  margin: 0 auto;
}

.loginbox h2 {
  text-align: center;
  font-size: 50px;
  color: #5c469c;
  font-weight: normal;
  margin-bottom: 40px;
}

/* 로그인의 메인 */
.loginbox form {
  border-radius: 10%;
  width: 100%;
  height: 80vh;
  background-color: #ccc;
  padding: 30px;
  box-sizing: border-box;
}

.loginbox fieldset {
  border: none;
  margin: 0 10% 0 10%;
}

.loginbox input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 0px;
  border: none;
  background-color: #ededed;
  padding: 0 20px;
  box-sizing: border-box;
}

.loginbox .user {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 로그인 버튼 부분 */
.loginbox #login {
  display: block;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  border: none;
  background-color: #5c469c;
  border-radius: 10px;
  color: #fff;
  font-size: 1.875vw;
  cursor: pointer;
}

/* 소셜로그인 부분 */
.socialLogin {
  margin-top: 1.875vw;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.socialLogin img {
  display: inline;
  width: 4.6875vw;
  height: 4.6875vw;
  cursor: pointer;
}

/* 아이디 비밀번호 찾기부분 */
.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user #find_Id button,
.user #find_Pw button {
  display: block;
  width: 9.375vw;
  height: 2.5vw;
  margin: 0 1.25vw;
  border: none;
  background-color: #d4adfc;
  border-radius: 10px;
  color: #fff;
  font-size: 1.125vw;
  cursor: pointer;
}

.loginbox #join {
  display: block;
  width: 100%;
  height: 2.5vw;
  margin: 0 auto;
  border: none;
  background-color: #d4adfc;
  border-radius: 10px;
  color: #fff;
  font-size: 1.125vw;
  cursor: pointer;
}

.login-inf {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 0.15vw solid silver;
  border-radius: 0.3125vw;
  overflow: hidden;
  background-color: #ccc;
  margin-bottom: 1.25vw;
}

.login-inf input {
  border: 0.1875vw solid rgb(163, 163, 163);
  width: 100%;
  height: 2.5vw;
  font-size: 1.125vw;
  
}

.login-icon {
  border: 0.1875vw solid rgb(163, 163, 163);
  float: left;
  height: 2.5vw;
  width: 2.5vw;
  background-size: cover;
  border: 0.015625vw;
}
