@charset "utf-8";
* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}

body {
  display: flex; /* body를 flex container로 만들어줍니다 */
  margin: 0;
  background-color: #333;
}

/* 기본틀 */
.loginbox {
  position: relative;
  top: 15%;
  left: 50%;
  width: 40vw;
  height: 80vh;
  margin: -100px auto 0;
}

.loginbox h2 {
  text-align: center;
  font-size: 50px;
  color: #5c469c;
  font-weight: normal;
  margin-bottom: 40px;
}
/* 로그인의 메인 */
.loginbox form {
  position: relative;
  top: 10vh;
  border-radius: 10%;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  /* 패딩수치를 인사이드 처리 */
  padding: 30px;
  box-sizing: border-box;
}
.loginbox fieldset {
  border: none; /* 테두리 제거 */
  text-align: center;
}
.loginbox legend {
  /* 요소를 화면 밖으로 처리 */
  position: absolute;
  left: -999em;

  /* 웹접근성으로 스크린리더기가 읽어줘야 하므로 display: none;을 사용하지 말것 */
}

.loginbox input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 0px; /* 동위선택자와의 간격 조정 */
  border: none;
  background-color: #ededed;
  padding: 0 20px; /* 앞상하 뒷좌우 */
  box-sizing: border-box; /* 패딩수치를 인사이드 처리 */
}

.loginbox .user {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* 로그인 버튼 부분 */
.loginbox #login {
  display: block;
  width: 100%;
  height: 50px;
  margin: 0 auto; /* 블록요소가 부모 영역에서 가운데 오기 */
  border: none;
  background-color: #5c469c;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
}
/* 소셜로그인 부분 */
.socialLogin {
  margin-top: 30px;
  margin-left: 20px;
  width: auto;
  height: 200px;
}
.socialLogin img {
  display: inline;
  width: 75px;
  height: 75px;
}

/* 아이디 비밀번호 찾기부분 */
.user {
  display: flex;
}
.user #find_Id button,
.user #find_Pw button {
  display: block;
  width: 180px;
  height: 40px;
  margin: 0 auto; /* 블록요소가 부모 영역에서 가운데 오기 */
  border: none;
  background-color: #d4adfc;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
}
.loginbox #join {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0 auto; /* 블록요소가 부모 영역에서 가운데 오기 */
  border: none;
  background-color: #d4adfc;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
}
.login-inf {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid silver;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ccc;
  margin-bottom: 20px;
}
.login-inf input {
  border: 3px solid rgb(163, 163, 163);
  width: 100%;
  height: 50px;
  font-size: 18px;
}
.login-icon {
  border: 3px solid rgb(163, 163, 163);
  float: left;
  height: 50px;
  width: 50px;
  background-size: cover;
  border: 1px;
}
