body {
  display: flex; /* body를 flex container로 만들어줍니다 */
  margin: 0;
  height: 100vh; /* 브라우저 창의 높이를 맞춰줍니다 */
}
#nav {
  background-color: #5c469c;
  width: 17vw;
  height: 100vh;
  text-align: center;
}
#nav > div {
  margin-bottom: 7vh;
}
.banner {
  padding: 3vh 0 3vh 0;
  border-bottom: 1px solid gray;
}
.banner img {
  width: 15vw;
}
.login > div {
  padding-bottom: 5vh;
}
.login_img {
  width: 2.6vh;
  height: 2.6vh;
  background-size: cover;
}
.mypage_img {
  width: 3vh;
  height: 3vh;
  background-size: cover;
}
a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.search-container {
  position: relative;
  left: 10%;
  display: flex;
  align-items: center;
  width: 13vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: silver;
}
.search-input {
  width: 13vw;
  font-size: 18px;
}
.search-icon {
  height: 21px;
  width: 21px;
  background-size: cover;
}
#main {
  position: relative;
  width: 83vw;
  height: 100vh;
  background-color: #424242;
}
#playlist {
  width: 30vw;
  height: 38vw;
  float: left;
  position: relative;
  left: 10%;
  top: 15%;
}
.playlist {
  display: inline-block;
  padding: 2vh;
}
.playlist img {
  display: flex;
  width: 10vw;
  height: 10vw;
}
h1 {
  color: #d4adfc;
  font-weight: normal;
}
#today {
  width: 30vw;
  float: left;
  position: relative;
  left: 13%;
  top: 15%;
}
.today {
  display: inline-block;
  padding: 2vh;
}
.today img {
  display: flex;
  width: 10vw;
  height: 10vw;
}
