html{
  overflow-y:hidden;
}
h1 {
  color: #d4adfc;
  font-weight: bold;
  padding-left: 20px;
}
.playlist a{
  
}
.playlist img {
  width: 250px;
  height: 250px;
  margin: 10px;
}
.today img {	
  width: 240px;
  height: 240px;
  margin: 10px;
  border-radius:50%;
  background:white;
}
.playlists {	
  display: flex;
  align-items:center;
  justify-content: center;
  overflow: hidden;
}
.playlists a{
  align-items:center;
  display:flex;
}
.playlists>a{
  width:70px;
  height:100px;
}
.todays {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  overflow: hidden; /* 추가: 넘치는 요소 감추기 */
  position: relative;
  width:1080px;
}
.todays a{
  display:flex;
}
.todays>a{
  width:70px;
  height:100px;
}
#playlistsContainer{
  display:flex;
  width: 1080px; 
  overflow: hidden;
}
#today {

}
#playlist h1{
  margin:35px 0 0 35px;
}
#today h1{
  margin:35px 0 0 35px;
}
.playlist_left,
.playlist_right{
  width:70px;
  height:100px;
  filter: invert(74%) sepia(7%) saturate(1901%) hue-rotate(223deg) brightness(97%) contrast(104%);
}
.today_left img,
.today_right img{
  width:70px;
  height:100px;
  filter: invert(74%) sepia(7%) saturate(1901%) hue-rotate(223deg) brightness(97%) contrast(104%);
}
.playlist_left:hover,
.playlist_right:hover{
  filter: invert(28%) sepia(39%) saturate(995%) hue-rotate(215deg) brightness(98%) contrast(91%);
}
.today_left:hover,
.today_right:hover{
  filter: invert(48%) sepia(89%) saturate(995%) hue-rotate(215deg) brightness(80%) contrast(91%);
}
.hidden {
    display: none;
  }
.playlist_btn{
  display:flex;
  justify-content: center;
  align-items:center;
}
.btn{
  display:flex;
  justify-content: center;
  align-items:center;
}
.today {
  perspective: 1000px;
  display:flex;
}

.today_card {
  width: 270px;
  height: 270px;
  position: relative;
  cursor: pointer;
}

.today_card_inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.today_card:hover .today_card_inner {
  transform: rotateY(180deg);
}

.today_card_front, .today_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.today_card_back {
  transform: rotateY(180deg);
  width: 250px;
  display: block;
  height: 250px;
  margin: 10px;
  border-radius:50%;
  position: relative;
}
.today_card_back p{
  position:relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}
@media (max-width: 1500px) {
  #nav {
  	display: none !important;
  }
  #main {
    width: 110vw !important;
  }
  h1{
    text-align:center !important;
    padding: 0 !important;
    margin-right:0 !important;
  }
}

.chatbot {
	width: 50px;
	height: 50px;
	position: fixed;
    right: 15px;
    bottom: 15px;        
    z-index: 99;
}