#playlist {
  width: 30vw;
  height: 38vw;
  float: left;
  position: relative;
  left: 10%;
  top: 15%;
}
.playlist {
  display: inline-block;
  padding: 2vh;
}
.playlist img {
  display: flex;
  width: 10vw;
  height: 10vw;
}
h1 {
  color: #d4adfc;
  font-weight: normal;
}
#today {
  width: 30vw;
  float: left;
  position: relative;
  left: 13%;
  top: 15%;
}
.today {
  display: inline-block;
  padding: 2vh;
}
.today img {
  display: flex;
  width: 10vw;
  height: 10vw;
}
