@charset "utf-8";
#banner a img {
  height: 79.813px;
  min-width: 200px;
}

#content {
  height: fit-content;
  width: fit-content;
}
#main{
  overflow:hidden;
}
#membershipInfo {
  width: 40vw;
  height: 640px	;
  margin: 0 auto;
  margin-top: 7vh;
  margin-bottom: 10vh;
  background-color: #ccc;
  border-radius: 5%;
  position: relative;
  min-width: 392px;
  min-height: 580px;
}

#membershipJoin {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  margin: 0 auto;
  padding-top:30px;
}
.offset-lg-2 {
  margin: 0 !important;
}
h1 {
	margin-bottom:1.5rem !important;
  	padding-top: 25px;
   	text-align: center;
  	margin: 10px;
  	font-weight: bold !important;
}

.container {
  width: fit-content !important;
  height:440px;
}

/* bootstrap css */

.accordion .card {
  border: none;
  margin-bottom: 2px;
}
.card {
  width: 33vw;
  min-width:362px !important;
}
.card-body {
  width: 33vw;
  height: 232px;
  overflow: scroll;
  min-width:362px !important;
}
.accordion .card-header {
  background: #1d267d;
  padding-top: 7px;
  padding-bottom: 7px;
}
.accordion .card-header h2 {
  color: #d4adfc;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.accordion .card-header h2 span {
  float: left;
  margin-top: 10px;
}
.accordion .card-header button {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.3rem;
  float: right;
}
.accordion .card-header button:hover {
  color: #23384e;
}

#joinBtn {
  border: 0;
}
@media (max-width: 615px) {
  #nav {
    display: none;
  }
  #main {
    width: 110vw;
  }
}