@charset "utf-8";

#content{
    height: fit-content;
    width: fit-content;
}

#membershipInfo{
    width: 40vw;
    height: 70vh;
    margin-left: 25%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #ccc;
    border-radius : 5%;
    position : relative;
}

#membershipJoin{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    position: absolute;
    bottom: 0;
    right: 37%;
}

#joinBtn{
    
}

h1{
    text-align: center;
    margin: 10px;
}

.container{
    width: fit-content;
    height: 80%;
}

/* bootstrap css */

.accordion .card {
	border: none;
	margin-bottom: 2px;
}
.accordion .card-header {
	background: #1D267D;
	padding-top: 7px;
	padding-bottom: 7px;
}
.accordion .card-header h2 {
	color: #D4ADFC;
	font-size: 1rem;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}
.accordion .card-header h2 span {
	float: left;
	margin-top: 10px;
}
.accordion .card-header button {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.3rem;
	float: right;
}
.accordion .card-header button:hover {
	color: #23384e;
}