@charset "UTF-8";

#main>h1 {
	color: white;
	margin-top: 40px;
	margin-left: 40px;
	height: 48px;
}

/* ---------- 네비게이션 ---------- */
.mypage_nav {
	display: inline-block;
	width: 15%;
	height: 80%;
	background-color: #1D267D;
	color: white;
	margin-left: 40px;
	vertical-align: top;
}

.mypage_nav ul {
	padding: 0;
	line-height: 375%;
	/* 줄간격 조정 */
}

.mypage_nav ul li {
	list-style: none;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
}

.mypage_nav ul li:hover {
	color: orange;
	font-weight: bold;
}

/* ---------- 마이페이지 내용 ----------*/
.mypage_contents {
	display: inline-block;
	width: 75%;
	height: 80%;
	background-color: rgb(224, 224, 224);
	margin-left: 10px;
	min-width: 760px;
}

.mypage_contents>h1 {
	margin-left: 20px;
	padding-top: 10px;
}

.mypage_contents h2 {
	margin-left: 20px;
	margin-bottom: 0px;
	color: #5C469C;
	min-width: 737px;
	min-height: 36px;
	padding-top: 15px;
}

.pie-chart {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	transition: 0.3s;
	border-width: 30px;
	padding: 0px;
}

span.center {
	background: #fff;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	line-height: 100px;
	font-size: 30px;
	transform: translate(-50%, -50%);
}