body {
  display: flex;
  margin: 0;
  height: 100vh;
  text-size-adjust: 100%;
}
* {
  padding: 0;
  margin: 0;
}
#nav {
  background-color: #5c469c;
  width: 17vw;
  height: 100vh;
  text-align: center;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#nav > div {
  margin-bottom: 7vh;
}
.banner {
  padding: 3vh 0 3vh 0;
  border-bottom: 1px solid gray;
}
.banner img {
  width: 15vw;
  min-width: 200px;
}
.login > div {
  padding-bottom: 5vh;
}
.login_img {
  width: 2.6vh;
  height: 2.6vh;
  background-size: cover;
  vertical-align: middle; /* 아이콘을 수직 가운데로 정렬 */
  margin-bottom: 2px;
}
.mypage_img {
  width: 3vh;
  height: 3vh;
  background-size: cover;
  vertical-align: middle; /* 아이콘을 수직 가운데로 정렬 */
  margin-bottom: 2px;
  margin-right: 3px;
}
a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 165px;
  border-radius: 5px;
  background-color: #1d267d;
  min-width: 160px;
  margin: 0 auto;
}

.search-input {
  width: 10.5vw;
  font-size: 18px;
  text-align: center;
  min-width: 130px;
  border-radius: 5px 0 0 5px;}
.search-icon {
  height: 21px;
  width: 21px;
  padding: 1px 2.5px;
  background-size: cover;
  vertical-align: middle;
}
#main {
  position: relative;
  width: 83vw;
  height: 100vh;
  background-color: #424242;
  overflow-x: hidden;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d4adfc;
  height: 50%;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a36ae1;
}