#main > h1 {
  color: white;
  position: relative;
  top: 6%;
  left: 6%;
}
#buttons {
  display: flex;
  position: absolute;
  top: 10%;
  right: 10%;
}
#buttons > div {
  font-size: 20px;
  color: white;
  background-color: #5c469c;
  border: 1px solid #d4adfc;
  margin-right: 1vw;
  cursor: pointer;
}
#MyPlayList {
  width: fit-content;
  position: relative;
  top: 10%;
  left: 6%;
  display: flex;
  flex-wrap: wrap;
}

.list_wrapper {
  display: flex;
}

.list_left {
  width: 550px;
  display:flex;
}

.list_right {
  width: 550px;
  display:flex;
}

#video {
  display: flex;
  margin-bottom: 5vh;
  width: 34vw;
}

.video-container {
  display: inline-block;
  width: calc(40% * 1.6);
  /* padding-top: calc(100% / (1.3 * 1.6)); */
  padding-top: 30%;
  position: relative;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#context {
  display: inline-block;
  width: 60%;
  padding: 2%;
  color: white;
}

h2,
h3 {
  width:200px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;	
}
@media screen and (min-width: 768px) {
  #video-container {
    padding-top: 30%;
  }
}

@media screen and (min-width: 1200px) {
  #video-container {
    padding-top: 23.08%;
  }
}

/* 검색어 강조 */
@keyframes blink{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

#header-query{
	animation: blink 3s infinite;
	color: #D4ADFC;
}

#plus{
	background-color: transparent;
	border: none;
	vertical-align: middle;
	height: 21px;
}

#plusimg{
	width: 20px;
	height: 20px;
	cursor: pointer;
}






