<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/resources/css/nav.css" />
<link rel="stylesheet" href="/resources/css/globalfont.css" />
<link rel="stylesheet" href="/resources/css/adminpage_user.css" />
<link rel="shortcut icon" href="/resources/img/realfavicon.ico" />

<title>4Tunes</title>
</head>

<body>
	<div id="nav">
		<div class="banner">
			<a href="/"><img src="/resources/img/banner.png" /></a>
		</div>
		<div id="login">
			<div>
				<a
					th:href="${session.login == null ? '/nav/login' : '/login/logout'}">
					<img class="login_img" src="/resources/img/usertest.png" /> <span
					th:text="${session.login == null ? 'LOGIN' : 'LOGOUT'}"></span>
				</a>
			</div>
			<br />
			<div>
				<a href="/nav/mypage"><img class="mypage_img"
					src="/resources/img/file.png" />MYPAGE</a>
			</div>
		</div>
		<div class="search-container">
			<span class="search-icon"><img src="/resources/img/search.png"
				class="search-icon" /></span> <input type="text" class="search-input"
				placeholder="키워드 입력" />
		</div>
		<div>
			<a href="/nav/suggested">맞춤추천</a>
		</div>
		<div>
			<a href="/nav/chart">인기차트</a>
		</div>
		<div>
			<a href="/nav/community">커뮤니티</a>
		</div>
		<div>
			<a href="/nav/membership">멤버십</a>
		</div>
	</div>

	<div id="main">
		<h1>회원정보 조회</h1><br>

		<div class="adminpage_contents">
			<div>
				<form action="/adminpage/search" method="GET" class="search">
					<input type="text" size="25" name="username" placeholder="조회할 회원의 이름을 입력하세요."> 
					<input type="submit" id="submit" value="검색">
				</form>
			</div>

			<div class="user_list_wrap">
				<div class="user_list">
					<div class="top">
						<div class="num">회원번호</div>
						<div class="name">이름</div>
						<div class="id">아이디</div>
						<div class="grade">회원등급</div>
						<div class="modify">수정버튼</div>
						<div class="drop">탈퇴버튼</div>
					</div>
					
					<div class="userscroll">
						<div th:each="user : ${userList}" class="user">
							<div class="num" th:text="${user.user_no}"></div>
							<div class="name" th:text="${user.user_name}"></div>
							<div class="id" th:text="${user.user_id}"></div>
							<div class="grade">
								<input type="text" size="10" th:value="${user.user_grade}"
								style="text-align: center;" readonly>
							</div>
							<div class="modify">
								<input type="button" id="modify" value="회원등급변경" th:onclick="|location.href='@{/adminpage/update/{user_no}(user_no=${user.user_no})}'|">
							</div>
					
							<div class="drop">
								<input type="button" id="drop" value="탈퇴처리" th:onclick="|location.href='@{/adminpage/delete/{user_no}(user_no=${user.user_no})}'|">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</body>
</html>