<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div align="center">
		<h1>API 테스트를 위한 페이지입니다.</h1>
		<h2>작성자 : 조장</h2>
		<div
			style="width: 100%; height: 0; padding-bottom: 56%; position: relative;">
			<iframe src="https://giphy.com/embed/zOvBKUUEERdNm" width="100%"
				height="100%" style="position: absolute" frameBorder="0"
				class="giphy-embed" allowFullScreen></iframe>
		</div>
		<p>
			<a href="https://giphy.com/gifs/coding-zOvBKUUEERdNm">via GIPHY</a>
		</p>
		<label>유튭 테스트</label>
		<button onclick="location.href='/YoutubeData'">Youtube</button>
	</div>
</body>
</html>