<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<meta charset="UTF-8">
<title>API TEST</title>
<style>
@font-face {
	font-family: 'DOSPilgiMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSPilgiMedium.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'DOSPilgiMedium', sans-serif;
}

body {
	background-color: grey;
}
</style>
</head>
<body>
	<div align="center">
		<h1>API 테스트를 위한 페이지입니다.</h1>
		<h2>작성자 : 조장</h2>
		<table class="table table-hover">
			<tr>
				<td>
					<div align="center">
						<iframe src="https://giphy.com/embed/zOvBKUUEERdNm" width="480"
							height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div align="center">
						<p>
							<a href="https://giphy.com/gifs/coding-zOvBKUUEERdNm">via
								GIPHY</a>
						</p>
					</div>
				</td>
			</tr>
		</table>
		<!-- 여기부터 TEST COMPONENT -->
		<div>
			<!-- <label>유튭 테스트</label>
			<button onclick="location.href='/YoutubeData'" class="btn btn-dark btn-lg">Youtube</button> -->
			<form action="/YoutubeData" method="GET">
				<fieldset>
					<label>Singer</label>
					<input type="text" name="singer">
					<label>Title</label>
					<input type="text" name="title">
					<input type="submit">
				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>