<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/resources/css/nav.css" />
<link rel="stylesheet" href="/resources/css/globalfont.css" />
<link rel="stylesheet" href="/resources/css/community_detail.css" />
<link rel="shortcut icon" href="/resources/img/realfavicon.ico" />
<script type="text/javascript"
	src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<title>4Tunes</title>
<script>  
	// 게시글 신고 버튼
	$(document).ready(function() {
		$('#report-btn').click(function(event) {
			event.preventDefault(); // 폼의 기본 동작인 페이지 새로고침 막기

			var confirmed = confirm("정말로 신고하시겠습니까?");
			if (confirmed) {
				var form = $('#report-form');
				var url = form.attr('action');

				$.ajax({
					type : "POST",
					url : url,
					success : function(response) {
						// 신고 성공한 경우, 알림 표시
						alert(response);
						// 상세 페이지로 리다이렉트
						window.location.href = "/community/detail/" + boardNo;
					},
					error : function(xhr, status, error) {
						if (xhr.status === 409) {
							// 중복 신고한 경우, 알림 표시
							alert(xhr.responseText);
						} else {
							// 실패한 경우, 로그인 페이지로
							alert("로그인 먼저 해주세요.");
							window.location.href = "/nav/login/";
						}
					}
				});
			} else {
				// 신고 취소한 경우, 아무 작업 없이 종료
			}
		});

		// 댓글 신고 버튼
		$('.comment-report').on('click', function(event) {
			event.preventDefault();

			var confirmed = confirm("정말로 신고하시겠습니까?");
			if (confirmed) {
				var form = $(this).closest('form');
				var url = form.attr('action');

				$.ajax({
					type : "POST",
					url : url,
					success : function(response) {
						// 신고 성공한 경우, 알림 표시
						alert(response);
						// 상세 페이지로 리다이렉트
						window.location.href = "/community/detail/" + boardNo;
					},
					error : function(xhr, status, error) {
						if (xhr.status === 409) {
							// 중복 신고한 경우, 알림 표시
							alert(xhr.responseText);
						} else {
							// 실패한 경우, 로그인 페이지로
							alert("로그인 먼저 해주세요.");
							window.location.href = "/nav/login/";
						}
					}
				});
			} else {
				// 신고 취소한 경우, 아무 작업 없이 종료
			}
		});
	});
	
		
</script>

</head>

<body>
	<div id="nav">
		<div class="banner">
			<a href="/"><img src="/resources/img/banner.png" /></a>
		</div>
		<div id="login">
			<div>
				<a
					th:href="${session.login == null ? '/nav/login' : '/login/logout'}">
					<img class="login_img" src="/resources/img/usertest.png" /> <span
					th:text="${session.login == null ? 'LOGIN' : 'LOGOUT'}"></span>
				</a>
			</div>
			<br />
			<div>
				<a href="/nav/mypage"><img class="mypage_img"
					src="/resources/img/file.png" />MYPAGE</a>
			</div>
		</div>
		<div class="search-container">
			<form action="/search/query" method="GET" style="display: flex;">
				<input type="text" name="query" class="search-input" placeholder="키워드 입력" />
				<span class="search-icon">
					<input type="image" class="search-icon" src="/resources/img/search.png" alt="submit">
				</span>				
			</form>
		</div>
		<div>
			<a href="/nav/suggested">맞춤추천</a>
		</div>
		<div>
			<a href="/nav/chart">인기차트</a>
		</div>
		<div>
			<a href="/nav/community">커뮤니티</a>
		</div>
		<div>
			<a href="/nav/membership">멤버십</a>
		</div>
	</div>

	<div id="main">

		<div class="detail">
			<h1 class="detail-title" th:text="${community.boardTitle}"></h1>
			<div class="detail-btns">
				<button style="display: inline-block" id="update-btn"
					th:if="${session.login?.user_name == community.user_name}">
					<a
						th:href="@{/community/update/{boardNo}(boardNo=${community.boardNo})}">수정하기</a>
				</button>
				<button style="display: inline-block" id="delete-btn" type="submit"
					th:if="${community.user_name == session.login?.user_name}">
					<form
						th:action="@{/community/delete/{boardNo}(boardNo=${community.boardNo})}"
						method="post" id="delete-form">삭제하기</form>
				</button>
				<button style="display: inline-block" id="delete-btn" type="submit"
					th:unless="${community.user_name == session.login?.user_name}"
					sec:authorize="hasAuthority('ADMIN')">
					<form
						th:action="@{/community/delete/{boardNo}(boardNo=${community.boardNo})}"
						method="post" id="delete-form">삭제하기</form>
				</button>


				<button style="display: inline-block" id="write-btn">
					<a href="/community/write">글 작성</a>
				</button>
				<form
					th:action="@{/community/report/{boardNo}(boardNo=${community.boardNo})}"
					method="post" id="report-form">
					<button style="display: inline-block" id="report-btn" type="submit"
						data-board-no="${community.boardNo}">신고하기</button>
				</form>
			</div>

			<div class="detail-wrap">
				<div class="detail-name">
					<span>&nbsp;작성자 :&nbsp;</span><span
						th:text="${community.user_name}"></span>
				</div>
				<div class="detail-count">
					<span>&nbsp;조회수 :&nbsp;</span><span
						th:text="${community.boardViewCnt}"></span>
				</div>
				<div class="detail-content">
					<div class="content-box" type="text" id="content-input"
						th:text="${community.boardContent}"></div>
				</div>
			</div>


			<div class="comment-main">
				<div class="comment-detailfirst">

					<h2 class="comment-title">COMMENT</h2>
					<div class="comment-wrap">
						<div class="comment-item" th:each="comment : ${commentList}">
							<div class="comment-name">
								<span th:text="${comment.user_name}"></span>
							</div>
							<div class="comment-content">
								<span th:text="${comment.commentContent}"></span>
							</div>
							<!-- 댓글 옵션 버튼 및 목록 추가 -->
							<form>
								<button type="button" class="comment-delete"
									id="comment-delete-btn-user"
									th:if="${comment.user_name == session.login?.user_name}" th:onclick="deleteComment([[${comment.commentNo}]])">
									<img src="/resources/img/delete.png">
								</button>
							</form>
							<form>
								<button type="button" class="comment-delete"
									id="comment-delete-btn-admin" th:unless="${comment.user_name == session.login?.user_name}" th:onclick="deleteComment([[${comment.commentNo}]])"
									sec:authorize="hasAuthority('ADMIN')"
								>
									<img src="/resources/img/delete.png">
								</button>
							</form>
							<form
								th:action="@{/community/report/comment/{commentNo}(commentNo=${comment.commentNo})}"
								method="post" id="report-comment-form">
								<button type="submit" class="comment-report"
									id="report-comment-btn" data-comment-no="${comment.commentNo}">
									<img src="/resources/img/report.png">
								</button>
							</form>
						</div>
					</div>
				</div>


				<div class="comment-detailsecond">
					<div class="comment-write">
						<form
							th:action="@{/community/comment/{boardNo}(boardNo=${community.boardNo})}"
							method="post">
							<textarea name="commentContent" rows="7" cols="75"
								placeholder="댓글을 입력해 주세요"></textarea>
					</div>
					<div class="comment-btn">
							<input type="submit" value="작성 완료" style="cursor:pointer;">

						</form>
					</div>

				</div>
			</div>
		</div>
		<script type="text/javascript" src="/resources/js/detail_delete.js"></script>
</body>
</html>