<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/resources/css/nav.css" />
<link rel="stylesheet" href="/resources/css/globalfont.css" />
<link rel="stylesheet" href="/resources/css/community_write.css" />
<link rel="shortcut icon" href="/resources/img/realfavicon.ico" />
<title>4Tunes</title>
</head>

<body>
	<div id="nav">
		<div class="banner">
			<a href="/"><img src="/resources/img/banner.png" /></a>
		</div>
		<div id="login">
			<div>
				<a
					th:href="${session.login == null ? '/nav/login' : '/login/logout'}">
					<img class="login_img" src="/resources/img/usertest.png" /> <span
					th:text="${session.login == null ? 'LOGIN' : 'LOGOUT'}"></span>
				</a>
			</div>
			<br />
			<div>
				<a href="/nav/mypage"><img class="mypage_img"
					src="/resources/img/file.png" />MYPAGE</a>
			</div>
		</div>
		<div class="search-container">
			<form action="/search/query" method="GET" style="display:flex; ">
			<span class="search-icon">
			<input type="image" class="search-icon" src="/resources/img/search.png" alt="submit"></span>
				<input type="text" name="query" class="search-input" placeholder="키워드 입력" />
			</form>
		</div>
		<div>
			<a href="/nav/suggested">맞춤추천</a>
		</div>
		<div>
			<a href="/nav/chart">인기차트</a>
		</div>
		<div>
			<a href="/nav/community">커뮤니티</a>
		</div>
		<div>
			<a href="/nav/membership">멤버십</a>
		</div>
	</div>

	<div id="main">
		<h1>커뮤니티 글 작성 및 수정</h1>
		<div class="community-main">
			<form
				th:action="@{/community/update/{boardNo}(boardNo=${community.boardNo})}"
				id="write-form" method="post" th:object="${community}">
				<fieldset>
					<div class="community-inf">
						<span class="community-title">글 제목</span> <input type="text"
							id="community-input" name="boardTitle"
							th:value="${community.boardTitle}" placeholder="내용을 입력해주세요" maxlength="35" />
					</div>
					<div class="community-inf">
						<span class="community-writer">작성자</span> <input type="text"
							id="community-input" name="author"
							th:value="${community.user_name}" placeholder="로그인 되어있는 사용자 자동입력"
							disabled />
					</div>
					<div class="community-inf">
						<span class="community-text">내용</span>
						<textarea cols="50" rows="10" id="community-input"
							name="boardContent" th:text="${community.boardContent}"
							placeholder="내용을 입력해주세요" style="resize: none;"></textarea>
					</div>
				</fieldset>
				<div class="community-btn">
					<div id="input">
						<button type="submit">작성 완료</button>
					</div>
					<div id="cancel">
						<a th:href="@{/community/detail/{boardNo}(boardNo=${community.boardNo})}">
							<button type="button">취소</button>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>