<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/resources/css/nav.css" />
  <link rel="stylesheet" href="/resources/css/globalfont.css" />
  <link rel="stylesheet" href="/resources/css/community_list.css" />
  <title>4Tunes</title>
</head>

<body>
  <div id="nav">
    <div class="banner">
      <a href="#"><img src="/resources/img/banner.png" /></a>
    </div>
    <div id="login">
      <div>
        <a href="/nav/login"><img class="login_img" src="/resources/img/usertest.png" />LOGIN</a>
      </div>
      <br />
      <div>
        <a href="/nav/mypage"><img class="mypage_img" src="/resources/img/file.png" />MYPAGE</a>
      </div>
    </div>
    <div class="search-container">
      <span class="search-icon"><img src="/resources/img/search.png" class="search-icon" /></span>
      <input type="text" class="search-input" placeholder="키워드 입력" />
    </div>
    <div><a href="/nav/suggested">맞춤추천</a></div>
    <div><a href="/nav/chart">인기차트</a></div>
    <div><a href="/nav/community">커뮤니티</a></div>
    <div><a href="/nav/membership">멤버십</a></div>
  </div>

  <div id="main">

    <h1>커뮤니티</h1>
    <div class="list-header">
      <div class="list-headerwrap">
        <div class="num">NO</div>
        <div class="title">글 제목</div>
        <div class="name">작성자</div>
        <div class="content">내용</div>
        <div class="date">날짜</div>
        <div class="count">조회수</div>
      </div>
    </div>

    <div class="list">

      <!-- th:each="#" : ${#}" -->
      <!-- th:text="${#.#}" -->
      <!-- 타임리프 날짜 포맷팅 ${#dates.format(date, 'yyyy-MM-dd')} -->
      <div class="list-item">
        <div class="num">1</div>
        <div class="title"><a href="/">노래 추천할게요^^</a></div>
        <div class="name">하윤지</div>
        <div class="content">긴 내용입니다. 테스트. 긴 내용 잘리나요.</div>
        <div class="date">yyyy-mm-dd</div>
        <div class="count">30</div>
      </div>

      <div class="list-item">
        <div class="num">2</div>
        <div class="title"><a href="/">노래 추천이용^^</a></div>
        <div class="name">유니지</div>
        <div class="content">긴 내용입니다. 테스트. 긴 내용 잘리나요.</div>
        <div class="date">yyyy-mm-dd</div>
        <div class="count">55</div>
      </div>

    </div>

    <div class="commu-write">
      <a href="/" class="write-btn">글 작성</a>
    </div>

  </div>

</body>

</html>