<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/resources/css/nav.css" />
<link rel="stylesheet" href="/resources/css/globalfont.css" />
<link rel="stylesheet" href="/resources/css/community_list.css" />
<link rel="shortcut icon" href="/resources/img/realfavicon.ico" />
<title>4Tunes</title>
</head>

<body>
	<div id="nav">
		<div class="banner">
			<a href="/"><img src="/resources/img/banner.png" /></a>
		</div>
		<div id="login">
			<div>
				<a
					th:href="${session.login == null ? '/nav/login' : '/login/logout'}">
					<img class="login_img" src="/resources/img/usertest.png" /> <span
					th:text="${session.login == null ? 'LOGIN' : 'LOGOUT'}"></span>
				</a>
			</div>
			<br />
			<div>
				<a href="/nav/mypage"><img class="mypage_img"
					src="/resources/img/file.png" />MYPAGE</a>
			</div>
		</div>
		<div class="search-container">
			<span class="search-icon"><img src="/resources/img/search.png"
				class="search-icon" /></span> <input type="text" class="search-input"
				placeholder="키워드 입력" />
		</div>
		<div>
			<a href="/nav/suggested">맞춤추천</a>
		</div>
		<div>
			<a href="/nav/chart">인기차트</a>
		</div>
		<div>
			<a href="/nav/community">커뮤니티</a>
		</div>
		<div>
			<a href="/nav/membership">멤버십</a>
		</div>
	</div>

	<div id="main">

		<h1>커뮤니티</h1>
		<div id="list_container">
			<div class="list-header">
				<div class="list-headerwrap">
					<div class="num">NO</div>
					<div class="title">글 제목</div>
					<div class="name">작성자</div>
					<div class="content">내용</div>
					<div class="date">날짜</div>22222
					<div class="count">조회수</div>
				</div>
			</div>
			<div class="list">
				<div th:each="community : ${communityList}" class="list-item">
					<div class="num" th:text="${community.boardNo}"></div>
					<div class="title">
					    <!-- 글 제목 클릭시 글 번호에 해당하는 디테일 페이지로 -->
						<a th:href="@{/community/detail/{boardNo}(boardNo=${community.boardNo})}"
						   th:text="${community.boardTitle}"></a></div>
					<div class="name" th:text="${community.user_name}"></div>
					<div class="content" th:text="${community.boardContent}"></div>
					<div class="date"
						th:text="${#dates.format(community.boardWriteDate, 'yyyy-MM-dd')}"></div>
					<div class="count" th:text="${community.boardViewCnt}"></div>
				</div>
			</div>

			<div class="commu-write">
				<a href="/community/write" class="write-btn">글 작성</a>
			</div>
		</div>
	</div>
</body>
</html>