<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/resources/css/main.css" />
<link rel="stylesheet" href="/resources/css/nav.css" />
<link rel="stylesheet" href="/resources/css/globalfont.css" />
<link rel="shortcut icon" href="/resources/img/realfavicon.ico" />
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<title>4Tunes</title>
</head>
<body>
	<div id="nav">
		<div class="banner">
			<a href="/"><img src="/resources/img/banner.png" /></a>
		</div>
		<div id="login">
			<div>
				<a
					th:href="${session.login == null ? '/nav/login' : '/login/logout'}">
					<img class="login_img" src="/resources/img/usertest.png" /> <span
					th:text="${session.login == null ? 'LOGIN' : 'LOGOUT'}"></span>
				</a>
			</div>
			<br />
			<div>
				<a href="/nav/mypage"><img class="mypage_img"
					src="/resources/img/file.png" />MYPAGE</a>
			</div>
		</div>
		<div class="search-container">
			<form action="/search/query" method="GET" style="display: flex;">
				<input type="text" name="query" class="search-input" placeholder="키워드 입력" />
				<span class="search-icon">
					<input type="image" class="search-icon" src="/resources/img/search.png" alt="submit">
				</span>				
			</form>
		</div>
		<div>
			<a href="/nav/suggested">맞춤추천</a>
		</div>
		<div>
			<a href="/nav/chart">인기차트</a>
		</div>
		<div>
			<a href="/nav/community">커뮤니티</a>
		</div>
		<div>
			<a href="/nav/membership">멤버십</a>
		</div>

		<div sec:authorize="hasAuthority('ADMIN')">
			<a href="/gototestpage">API TEST</a> <br> <a
				href="/nav/adminpage">ADMINPAGE</a>
		</div>

	</div>

	<div id="main">
		<div id="playlist">
			<h1>플레이리스트</h1>
			<div class="playlist_btn">
				<a href=""><img class="playlist_left"
					src="/resources/img/left.png"></a>
				<div class="playlists">
					<div id="playlistsContainer"></div>
				</div>
				<a href=""><img class="playlist_right"
					src="/resources/img/right.png"></a>
			</div>
		</div>

		<div id="today">
			<h1>오늘의 선곡</h1>
			<div class="btn">
				<a href="#" class="today_left"><img
					src="/resources/img/left.png"></a>
				<div class="todays">
					<div class="today">
						<div class="today_card">
							<div class="today_card_inner">
								<div class="today_card_front">
									<a href="innerpaging/playlist/suggested"><img
										src="/resources/img/love.png" alt="" /></a>
								</div>
								<div class="today_card_back">
									<p>사랑할 때</p>
								</div>
							</div>
						</div>
						<div class="today_card">
							<div class="today_card_inner">
								<div class="today_card_front">
									<a href="innerpaging/playlist/suggested"><img
										src="/resources/img/relax.png" alt="" /></a>
								</div>
								<div class="today_card_back">
									<p>휴식할 때</p>
								</div>
							</div>
						</div>
						<div class="today_card">
							<div class="today_card_inner">
								<div class="today_card_front">
									<a href="innerpaging/playlist/suggested"><img
										src="/resources/img/party.png" alt="" /></a>
								</div>
								<div class="today_card_back">
									<p>파티할 때</p>
								</div>
							</div>
						</div>
						<div class="today_card">
							<div class="today_card_inner">
								<div class="today_card_front">
									<a href="innerpaging/playlist/suggested"><img
										src="/resources/img/travel.png" alt="" /></a>
								</div>
								<div class="today_card_back">
									<p>여행할 때</p>
								</div>
							</div>
						</div>
						<div class="today_card">
							<div class="today_card_inner">
								<div class="today_card_front">
									<a href="innerpaging/playlist/suggested"><img
										src="/resources/img/cafe.png" alt="" /></a>
								</div>
								<div class="today_card_back">
									<p>카페 음악</p>
								</div>
							</div>
						</div>
						<div class="today_card">
							<div class="today_card_inner">
								<div class="today_card_front">
									<a href="innerpaging/playlist/suggested"><img
										src="/resources/img/exercise.png" alt="" /></a>
								</div>
								<div class="today_card_back">
									<p>운동할 때</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a href="#" class="today_right"><img
					src="/resources/img/right.png"></a>
			</div>
		</div>
		<p th:text="${#authentication.name}"></p>
		<p th:text="${#authentication.authorities}"></p>
		<p th:text="${#authentication.authenticated}"></p>
	</div>
	<script src="/resources/js/index_playlist.js"></script>
	<script src="/resources/js/slider.js"></script>
</body>
</html>
