<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/resources/css/nav.css" />
<link rel="stylesheet" href="/resources/css/globalfont.css" />
<link rel="stylesheet" href="/resources/css/mypage_analysis.css" />
<link rel="shortcut icon" href="/resources/img/realfavicon.ico" />
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<title>4Tunes</title>
</head>

<script th:inline="javascript">
	$(window).ready(function() {
		draw([[${top3KeywordStats[0].ratio}]], '#pie-chart1', '#9376E0');
		draw([[${top3KeywordStats[1].ratio}]], '#pie-chart2', '#E893CF');
		draw([[${top3KeywordStats[2].ratio}]], '#pie-chart3', '#F3BCC8');
	});
	// 차트 그리기
	function draw(max, classname, colorname) {
		var i = 1;
		var func1 = setInterval(function() {
			if (i < max) {
				color1(i, classname, colorname);
				i++;
			} else {
				clearInterval(func1);
			}
		}, 20);
	}
	// 차트 색상
	function color1(i, classname, colorname) {
		$(classname).css(
				{
					"background" : "conic-gradient(" + colorname + " 0% " + i
							+ "%, #EEEEEE " + i + "% 100%)"
				});
	}
</script>
<body>
	<div id="nav">
		<div class="banner">
			<a href="/"><img src="/resources/img/banner.png" /></a>
		</div>
		<div id="login">
			<div>
				<a
					th:href="${session.login == null ? '/nav/login' : '/login/logout'}">
					<img class="login_img" src="/resources/img/usertest.png" /> <span
					th:text="${session.login == null ? 'LOGIN' : 'LOGOUT'}"></span>
				</a>
			</div>
			<br />
			<div>
				<a href="/nav/mypage"><img class="mypage_img"
					src="/resources/img/file.png" />MYPAGE</a>
			</div>
		</div>
		<div class="search-container">
			<form action="/search/query" method="GET" style="display: flex;">
				<input type="text" name="query" class="search-input"
					placeholder="키워드 입력" /> <span class="search-icon"> <input
					type="image" class="search-icon" src="/resources/img/search.png"
					alt="submit">
				</span>
			</form>
		</div>
		<div>
			<a href="/nav/suggested">맞춤추천</a>
		</div>
		<div>
			<a href="/nav/chart">인기차트</a>
		</div>
		<div>
			<a href="/nav/community">커뮤니티</a>
		</div>
		<div>
			<a href="/nav/membership">멤버십</a>
		</div>
	</div>

	<div id="main">
		<h1>
			<span th:text="${session.login.user_name}"></span> 님 안녕하세요 !
		</h1>
		<br>
		<div class="mypage_nav">
			<ul>
				<li id="info" onclick="location.href='/innerpaging/mypage/user'">내
					정보 조회</li>
				<li id="analysis"
					onclick="location.href='/innerpaging/mypage/analysis'">내 통계 조회</li>
				<li id="community"
					onclick="location.href='/innerpaging/mypage/communityContent'">내
					활동 조회</li>
				<li id="continuous_play" onclick="location.href='/innerpaging/mypage/continuous_play'">연속 재생</li>
			</ul>
		</div>
		
		<div class="mypage_contents">
			<h1 class="total">
				내 플레이리스트에 담긴 <span th:text="${totalSongs}"></span>곡의 취향은...
			</h1>

			<div th:each="keywordStat : ${top3KeywordStats}"></div>
			
			<div class="total-chart">
			<div class="pie-chart" id="pie-chart1">
				<div class="keyword"
					th:text="${top3KeywordStats[0].keyword}"></div>
				<div class="ratio1"	
					th:text="${top3KeywordStats[0].ratio + '%'}"></div>
			</div>

			<div class="pie-chart" id="pie-chart2">
				<div class="keyword"
					th:text="${top3KeywordStats[1].keyword}"></div>
				<div class="ratio2"
				    th:text="${top3KeywordStats[1].ratio + '%'}"></div>
			</div>

			<div class="pie-chart" id="pie-chart3">
				<div class="keyword"
					th:text="${top3KeywordStats[2].keyword}"></div>
				<div class="ratio3"	
					th:text="${top3KeywordStats[2].ratio + '%'}"></div>
			</div>
			</div>

		</div>
	</div>
</body>
</html>