<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/myplaylist.css" />
    <link rel="stylesheet" href="../static/css/globalfont.css" />
    <link rel="stylesheet" href="../static/css/nav.css" />
    <title>4Tunes</title>
  </head>
  <body>
    <div id="nav">
      <div class="banner">
        <a href=""><img src="../static/img/banner.png" /></a>
      </div>
      <div id="login">
        <div>
          <a href=""
            ><img class="login_img" src="../static/img/login.png" />LOGIN</a
          >
        </div>
        <br />
        <div>
          <a href=""
            ><img class="mypage_img" src="../static/img/mypage.png" />MYPAGE</a
          >
        </div>
      </div>
      <div class="search-container">
        <span class="search-icon"
          ><img src="../static/img/search-icon.png" class="search-icon"
        /></span>
        <input type="text" class="search-input" placeholder="키워드 입력" />
      </div>
      <div><a href="">맞춤추천</a></div>
      <div><a href="">인기차트</a></div>
      <div><a href="">커뮤니티</a></div>
      <div><a href="">멤버십</a></div>
    </div>
    <div id="main">
      <h1>나의 재생목록</h1>
      <div id="buttons">
        <div>재생목록 선택</div>
        <div>재생목록 공개</div>
      </div>

      <!-- 재생목록이 추가될 경우 list_wrapper클래스 div를 복붙하게 할것 -->
      <div id="MyPlayList">
        <div class="list_wrapper">
          <div id="List_left">
            <div id="video">
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/VIDEO_ID"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </div>
              <div id="context">
                <h2>노래제목</h2>
                <br />
                <h3>가수 이름</h3>
                <br />
                <div>
                  <button style="display: inline-block">-</button>
                  <div style="display: inline-block">
                    내 플레이리스트에서 제거
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="List_right">
            <div id="video">
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/VIDEO_ID"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </div>
              <div id="context">
                <h2>노래제목</h2>
                <br />
                <h3>가수 이름</h3>
                <br />
                <div>
                  <button style="display: inline-block">-</button>
                  <div style="display: inline-block">
                    내 플레이리스트에서 제거
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="list_wrapper">
          <div id="List_left">
            <div id="video">
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/VIDEO_ID"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </div>
              <div id="context">
                <h2>노래제목</h2>
                <br />
                <h3>가수 이름</h3>
                <br />
                <div>
                  <button style="display: inline-block">-</button>
                  <div style="display: inline-block">
                    내 플레이리스트에서 제거
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="List_right">
            <div id="video">
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/VIDEO_ID"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </div>
              <div id="context">
                <h2>노래제목</h2>
                <br />
                <h3>가수 이름</h3>
                <br />
                <div>
                  <button style="display: inline-block">-</button>
                  <div style="display: inline-block">
                    내 플레이리스트에서 제거
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="list_wrapper">
          <div id="List_left">
            <div id="video">
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/VIDEO_ID"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </div>
              <div id="context">
                <h2>노래제목</h2>
                <br />
                <h3>가수 이름</h3>
                <br />
                <div>
                  <button style="display: inline-block">-</button>
                  <div style="display: inline-block">
                    내 플레이리스트에서 제거
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="List_right">
            <div id="video">
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/VIDEO_ID"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </div>
              <div id="context">
                <h2>노래제목</h2>
                <br />
                <h3>가수 이름</h3>
                <br />
                <div>
                  <button style="display: inline-block">-</button>
                  <div style="display: inline-block">
                    내 플레이리스트에서 제거
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="list_wrapper">
          <div id="List_left">
            <div id="video">
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/VIDEO_ID"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </div>
              <div id="context">
                <h2>노래제목</h2>
                <br />
                <h3>가수 이름</h3>
                <br />
                <div>
                  <button style="display: inline-block">-</button>
                  <div style="display: inline-block">
                    내 플레이리스트에서 제거
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="List_right">
            <div id="video">
              <div class="video-container">
                <iframe
                  src="https://www.youtube.com/embed/VIDEO_ID"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </div>
              <div id="context">
                <h2>노래제목</h2>
                <br />
                <h3>가수 이름</h3>
                <br />
                <div>
                  <button style="display: inline-block">-</button>
                  <div style="display: inline-block">
                    내 플레이리스트에서 제거
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- list_wrapper닫는 div-->
      </div>
    </div>
  </body>
</html>
