<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/resources/css/nav.css" />
    <link rel="stylesheet" href="/resources/css/globalfont.css" />
    <link
      rel="shortcut icon"
      href="/resources/img/realfavicon.ico"
    />
    <title>4Tunes</title>
  </head>
  <body>
   <div id="nav">
    <div class="banner">
      <a href="/"><img src="/resources/img/banner.png" /></a>
    </div>
    <div id="login">
      	<div>
  			<a th:href="${session.login == null ? '/nav/login' : '/login/logout'}">
    		<img class="login_img" src="/resources/img/usertest.png" />
    		<span th:text="${session.login == null ? 'LOGIN' : 'LOGOUT'}"></span>
  			</a>
		</div>
      <br />
      <div>
        <a href="/nav/mypage"
          ><img class="mypage_img" src="/resources/img/file.png" />MYPAGE</a
        >
      </div>
    </div>
    <div class="search-container">
			<form action="/search/query" method="GET" style="display: flex;">
				<input type="text" name="query" class="search-input" placeholder="키워드 입력" />
				<span class="search-icon">
					<input type="image" class="search-icon" src="/resources/img/search.png" alt="submit">
				</span>				
			</form>
		</div>
      <div><a href="/nav/suggested">맞춤추천</a></div>
      <div><a href="/nav/chart">인기차트</a></div>
      <div><a href="/nav/community">커뮤니티</a></div>
      <div><a href="/nav/membership">멤버십</a></div>
    </div>
    
    <div id="main"></div>
  </body>
</html>
